<!DOCTYPE html>

<html>
<head>
  <title><%- htmlWebpackPlugin.options.metadata.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>"> -->

<base href="/">

  <!-- <meta name="google-site-verification" content="glnLW-a7pRCcz0PfXRYsNFyMgX9vgr0Mb5WjWby3iC0" /> -->
  <!-- <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script> -->
  <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
  
    <link rel="import" href="includes.html">
  
</head>
<body aurelia-app="main">
  <div class="splash">
    <div class="message"><%- htmlWebpackPlugin.options.metadata.title %></div>
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>

    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
  </html>
