<template>
<h4 repeat.for="book of books">${book.title}, ${book.type}</h4>
<paper-material elevation="1">
                <vaadin-grid>
                <table class="hover"><caption>Available Bands</caption>
                  <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th>Band Name</th>
                        <th>Genre</th>
                          <th>Hourly Rate</th>
                      <!-- <th>Address</th> -->
                      <th>City</th>
                      <th>State</th>
                      <!-- <th>Zip</th> -->
                      <!-- <th>Available Date</th> -->
                      <th>Website</th>


                      <!-- <th>Second Genre</th>
                      <th>Third Genre</th> -->
                      <th>Band Manager</th>
                      <th>Manager's Email</th>
                      <th>Manager's Phone #</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let band of bands | custom_json">

                        <td *ngIf="band.value != NULL">{{band.value.bandName}}</td>
                        <td *ngIf="band.value != NULL">{{band.value.bandGenre1}} {{band.value.bandGenre2}} {{band.value.bandGenre3}}</td>
                          <td *ngIf="band.value != NULL">{{band.value.bandPayRate}}</td>
                        <!-- <th *ngIf="band.value != NULL">{{band.value.bandAddress}}</th> -->
                        <td *ngIf="band.value != NULL">{{band.value.bandCity}}</td>
                        <td *ngIf="band.value != NULL">{{band.value.bandState}}</td>
                        <!-- <th *ngIf="band.value != NULL">{{band.value.bandZip}}</th> -->

                        <td *ngIf="band.value != NULL">{{band.value.bandWebsite}}</td>


                        <!-- <th *ngIf="band.value != NULL">{{band.value.bandGenre2}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandGenre3}}</th> -->
                        <td *ngIf="band.value != NULL">{{band.value.bandManagerName}}</td>
                        <td *ngIf="band.value != NULL">{{band.value.bandManagerEmail}}</td>
                        <td *ngIf="band.value != NULL">{{band.value.bandManagerPhone}}</td>
                    </tr>
                  </tbody>
                </table>
            </vaadin-grid>
              </paper-material>
</template>
